ZC_POOL_ID="POOL_ZC"
ZC_POOL_NAME="ZeroCloud_Main_Pool"
ZC_GATE_ID="GATE_01"
ZC_GATE_NAME="MAGI-01"
ZC_PROFILE_CONFIGURED="0"

MQTT_HOST="127.0.0.1"
MQTT_PORT="1883"
MQTT_USERNAME=""
MQTT_PASSWORD=""
MQTT_KEEPALIVE="30"
MQTT_CLIENT_ID="GATE_01_MAGI"

MAGI_FRAME_HZ="60"
HOUSEKEEPER_INTERVAL_SEC="1"
OFFLINE_TIMEOUT_SEC="10"
DEFAULT_EVENT_COOLDOWN_MS="1000"
STATE_STREAM_INTERVAL_SEC="0.4"
POOL_ANNOUNCE_INTERVAL_SEC="5"

API_HOST="0.0.0.0"
API_PORT="8080"
